/* body */
body {
    background-color: #C84ED9;
    font-family: "Varela Round", sans-serif;
    overflow: hidden;
    margin-top: 20px;
    
}
/* up and down buttons */

#up {
   
    font-family: "Jersey 10",sans-serif;
    color: black;
    margin-right: 10px;
    text-align: right;
    display: block;
}

#uptop {
    
    font-family: "Jersey 10",sans-serif;
    color: black;
    margin-left: 0;
}


/* header banner */
#header {
    position: relative;
    text-align: center;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1000;
    
}

/* h1 heading */
h1 {
    text-align: center;
    font-family: "Jersey 10",sans-serif;
    background-color: #D94EA5;
    font-size: xx-large;
    
   
}

/* Subheading */

h2 {
    text-align: center;
    font-family: "Jersey 10",sans-serif;


}


/* navigation bar*/

#nav {
    background-color: #D94EA5;
    text-align: center;
    font-family: "Jersey 10",sans-serif;
    word-spacing: 200px;
    height: 50px;
    font-size: 25px;
    display: flex;         /* Flexbox layout */
    align-items: center;   /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    padding: 0;            /* Remove padding that might interfere */
}

#nav a {
    color: black; /* Set the text color of the links to black */
   

}   



.no-spacing {
    word-spacing: 0;

}

/* scrollable*/

.scroll {
    margin-top: 20px;
    height: calc(100vh - 180px); /* Adjust this based on header and nav height */
    overflow-y: scroll; /* Enables vertical scrolling */
    padding: 20px;
    box-sizing: border-box; /* Ensure padding does not affect height */
    
}


/* h3 titles*/

h3 {
    text-align: center;
    font-family: "Jersey 10",sans-serif;
}

/* centering tables*/

table {
    width: 500px;
    margin:auto;
    background-color: #D94EA5;
    text-align: center;
}

/* styling tables*/
table, th, td {
    border: 1px solid black;
  
}

th, td {
    line-height: 1.5;
}